
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #f2f2f2;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: #f2f2f2;">
        © 2022 Copyright:
        <a class="text-white" href="#">Rahul Soni</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><section class="">
</body>

</html>